.app-tabs {
  .van-tab--active {
    font-size: 32px;
    color: #000000;
    font-weight: 500;
  }
}

.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  background-color: #39a9ed;

}
