$navPadding: 100px;

.nav-wrapper {
  display: flex;
  align-items: center;
  font-size: 40px;
}

.nav-left {
  padding-left: $navPadding;
}

.nav-right {
  padding-right: $navPadding;
}


[data-role='tabs'] {
  padding: 0 30px;
}
